# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
torch_env/

# Jupyter
.ipynb_checkpoints/

# Models
*.pth
*.pt

# Data
train_images/
test_images/
archive/
data/
datasets/
*.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db